@import "normalize";

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

#root {
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
  //padding: 10rem 2rem 0;
  box-sizing: border-box;
  overflow: auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  #root {
    width: 50%;
    margin: 0 auto;
  }
}